<ul class="navbar-nav ml-auto">
    @await Html.PartialAsync("_Header.RightLinks.Messages.cshtml")
    @await Html.PartialAsync("_Header.RightLinks.Notifications.cshtml")
    <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
            <i class="fas fa-th-large"></i>
        </a>
    </li>
</ul>