<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AdminLte.Mvc</title>

    <link href="~/lib/admin-lte/dist/css/adminlte.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/icheck-bootstrap/icheck-bootstrap.css" rel="stylesheet" />
</head>
<body>
    <lte-wrapper>
        <lte-content>
            <lte-content-header fluid="false" breadcrumb="true">
                <h4>Blank Page</h4>
            </lte-content-header>
            <lte-content-body>
                @RenderBody()
            </lte-content-body>
        </lte-content>

        <lte-footer>
            <lte-footer-left>
                <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
            </lte-footer-left>
            <lte-footer-right>
                <b>Version</b> 3.0.2
            </lte-footer-right>
        </lte-footer>

    </lte-wrapper>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/lib/admin-lte/dist/js/adminlte.min.js"></script>
    
    @RenderSection("Scripts", required: false)
</body>
</html>
