<aside class="main-sidebar sidebar-dark-primary elevation-4">
    @await Html.PartialAsync("_Sidebar.Brand.cshtml")
    <div class="sidebar">
        @await Html.PartialAsync("_Sidebar.UserPanel.cshtml")
        @await Html.PartialAsync("_Sidebar.Menu.cshtml")
    </div>
</aside>