@using AdminLte.RazorPages.Pages.Shared.Components.FooterLeft
@using AdminLte.RazorPages.Pages.Shared.Components.FooterRight

<footer class="main-footer">
    @(await Component.InvokeAsync<FooterLeftViewComponent>())
    <div class="float-right d-none d-sm-inline">
        @(await Component.InvokeAsync<FooterRightViewComponent>())
    </div>
</footer>