<lte-main-sidebar>
    @await Html.PartialAsync("_Sidebar.Brand.cshtml")
    <div class="sidebar">
        @await Html.PartialAsync("_Sidebar.UserPanel.cshtml")
        @await Html.PartialAsync("_Sidebar.Menu.cshtml")
    </div>
</lte-main-sidebar>