@using AdminLte.Mvc.Views.Shared.Components.HeaderMessagesMenu
@using AdminLte.Mvc.Views.Shared.Components.HeaderNotificationsMenu

<ul class="navbar-nav ml-auto">
    @(await Component.InvokeAsync<HeaderMessagesMenuViewComponent>())
    @(await Component.InvokeAsync<HeaderNotificationsMenuViewComponent>())
    <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
            <i class="fas fa-th-large"></i>
        </a>
    </li>
</ul>